# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#Hidden files
*.

build

compile_commands.json
.cache

#dbus boilerplate files
#these are generated when running make, no need to track.
..dbus/mpris.c
..dbus/mpris.h
